@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

*{
  padding: 0;
  margin: 0;
}

body{
  color: #333;
}
.border-radius-50{
  border-radius: 50px;
}
.opacity-50{
  opacity: 0.5;
}
.bg-blue{
  background-color: #0071bc !important;
}
.bg-blue-donker{
  background-color: #303952;
}
.text-yellow{
  color: yellow;
}
.slider.slider-horizontal{
  width: 100% !important;
}
.w-90{
  width: 90%;
}
.tooltip.in {
  opacity: 1;
}
.bg-gray{
  background-color: #f2f2f2;
}
.bg-white2{
  background-color: #f9fbfc;
}
.rounded-25{
  border-radius: 25px;
}
.font-30{
  font-size: 30px;
}
.flex-mobile-column{
  @include media-breakpoint-down(sm){
    flex-direction: column;
  }
}
.bg-orange{
  background: #fdb714;
}
.tab-pane{
  .title{
    font-weight: bold;
  }
  .img-thumb{
    img{
      height: 256px;
      width: 100%;
      object-fit: cover;
    }
  }
  .location{
    a{
      text-decoration: none;
    }
    svg{
      color: #0076f8;
    }
  }
  .star{
    ul{
      li{
        list-style: none;
        display: inline-block;
        svg{
          color: gray;
          &.light{
            color: yellow;
          }
        }
      }
    }
  }
}
#floating-wa{
  .float{
    width:60px;
    height:60px;
    bottom:60px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
}
#slider12c .slider-selection {
	background: #e3e31a;
}
#slider12c{
  .slider-handle{
    background: yellow;
  }
}
.bg-yellow{
  background: #e3e31a;
}

#top{
  #navbarSupportedContent{
    .navbar-nav{
      @include media-breakpoint-up(md){
        align-items: center;
        justify-content: center;
      }
    }
    .form-inline{
      @include media-breakpoint-down(sm){
        padding: 0;
      }
      input{
        width: 100% !important;
        background: #e6e6e6;
        @include media-breakpoint-down(sm){
          padding-left: 35px;
        }
      }
      .btn{
        position: absolute;
        top: 0;
        @include media-breakpoint-down(sm){
          margin-top: 0 !important;
        }
      }
    }
    .menus-act{
      ul{
        margin: 0;
        li{
          list-style: none;
          display: inline-block;
          @include media-breakpoint-up(sm){
            margin-right: 20px;
            &:last-child{
              margin-right: 0;
            }
          }
          a{
            text-decoration: none;
            &.regist{
              background: #0076f8;
              color: #fff;
            }
            &.sign{
              background: #f2f2f2;
              color: #333;
            }
          }
        }
      }
    }
  }
}

#footer{
  .footer-column{
    font-size: 25px;
    line-height: normal;
    .block{
      ul{
        li{
          list-style: none;
          a{
            display: block;
          }
        }
      }
    }
  }
}

.slider-wrapper{
  .slick-dots{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    li{
      list-style: none;
      display: inline-block;
      margin-right: 10px;
      &.slick-active{
        button{
          width: 20px;
        }
      }
      button{
        text-indent: -9999px;
        background-color: #fff;
        border: none;
        width: 10px;
        height: 5px;
        outline: none;
      }
    }
  }
  .floating-form{
    width: 30%;
    width: 30%;
    left: 10%;
    top: 8%;
    box-shadow: 0px 0px 10px 0px #000;
    @include media-breakpoint-up(md){
      position: absolute;
    }
    @include media-breakpoint-down(md){
      width: 100%;
      position: initial;
    }
    select{
      background-color: #e6e6e6;
      border: none;
      border-radius: 0;
      outline: none;
      font-weight: bold;
    }
    button{
      background: #00a99d;
      color: #fff;
      svg{
        @include media-breakpoint-up(sm){
          position: absolute;
          left: 15px;
          top: 35%;
        }
      }
    }
  }
}

.two-column-wrapper{
  .why-slider-wrapper{
    @include media-breakpoint-down(sm){
      padding: 0 !important;
    }
    .why-slider{
       /* the slides */
      .slick-slide {
        margin-left:27px;
      }
      /* the parent */
      .slick-list {
        margin-left:-27px;
      }
      .slick-arrow{
        opacity: 0.6;
      }
      .prev{
        position: absolute;
        top: 50%;
        left: -50px;
      }
      .next{
        position: absolute;
        top: 50%;
        right: -50px;
      }
      .block{
        .testi{
          height: 120px;
          overflow: hidden;
          @include media-breakpoint-down(sm){
            height: auto;
          }
        }
        .block-bottom{
          .img{
            width: 100px;
            height: 100px;
            overflow: hidden;
            border: 5px solid cornflowerblue;
            outline: none;
            @include media-breakpoint-down(sm){
              width: 80px;
              height: 80px;
            }
          }
        }
      }
      .slick-dots{
        text-align: center;
        @include media-breakpoint-down(sm){
          margin-top: 30px;
        }
        li{
          list-style: none;
          display: inline-block;
          button{
            background-color: #5cc4bd;
            border: none;
            box-shadow: none;
            text-indent: -9999px;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin: 0 5px;
          }
        }
      }
    }
  }
  .btn-promo{
    font-size: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 1px #333;
    @include media-breakpoint-down(sm){
      font-size: 30px;
      line-height: 30px;
    }
  }
  .sidebar-wrapper{
    background-color: #e6e6e6;
    .title{
      font-size: 15px;
    }
  }
  .headline{
    background-color: #e6e6e6;
  }
  .list-product{
    .block{
      a{
        text-decoration: none;
        color: #333;
        &:hover{
          .title-post{
            color: #0071bc;
          }
          .img{
            img{
              transform: scale(1.5);
            }
          }
        }
        .img{
          height: 130px;
          width: 100%;
          overflow: hidden;
          object-fit: cover;
          @include media-breakpoint-down(sm){
            height: 145px;
          }
          img{
            transition: transform .5s ease;
          }
        }
        .column-txt{
          @include media-breakpoint-up(sm){
            height: 146px;
            overflow: hidden;
          }
          border: 1px solid #c6c5c5;
          border-radius: 0px 0px 10px 10px;
            .small{
              font-size: 12px !important;
            }
            .stars{
              font-size: 12px;
            }
        }
      }      
    }
  }
  .form-check{    
    .form-check-label{
      cursor: pointer;
    }
    .form-check-input{
      right: 0;
    }
  }
  
}

.login-page-wrapper{
  margin: 5% 0;
  @media screen and (min-width:1440px) {
    margin: 20% 0;
  }
  .form-login-wrapper{
    box-shadow: 0px 10px 20px -10px #000;
    @include media-breakpoint-down(sm){
      margin: 5% 0 50px !important;
    }
  }
}

.sidebar-right-wrapper{
  @include media-breakpoint-down(sm){
    margin-top: 0 !important;
    margin-bottom: 50px;
  }
}

.page-detail-wrapper{
  .top-right{
    a{
      color: #fff;
      text-decoration: none;
    }
  }
  tr{
    th{
      color: #306785;
    }
  }
  .col-left{
    .img{
      img{
        object-fit: cover;
        height: 500px;
        width: 100%;
        @include media-breakpoint-down(sm){
          height: 300px;
        }
      }
    }
    .nav-item{
      color: #306785;
    }
  }
  .fasilitas{
    ul{
      padding-left: 20px;
    }
  }
}

.dashboard-page-wrapper{
  min-height: 400px;
  .desktop{
    .menus{
      box-shadow: 0px 10px 20px -10px #000;
      ul{
        li{
          list-style: none;
          border-bottom: 1px solid #ccc;
          &:last-child{
            border: none;
          }
          &.active{
            a{
              background-color: #e3e31a;
              color: #333;
            }
          }
          a{
            background-color: #0071bc;
            color: #fff;
            text-decoration: none;
            padding: 20px;
            font-weight: bold;
            &:hover{
              background-color: #e3e31a;
              color: #333;
            }
          }
        }
      }
    }
    .content-dashboard{
      .table-page{
        .table{
          thead{
            tr{
              th{

              }
            }
          }
        }
      }
      .stepwizard-step p {
        line-height: normal;
      }
      
      .stepwizard-row {
        display: table-row;
      }
      
      .stepwizard {
        display: table;
        width: 100%;
        position: relative;
        a{
          width: 30px;
          height: 30px;
          padding: 1px;
          border: 2px solid cornflowerblue;
          font-weight: 600;
          color: #0095d7;
          &.done{
            background: #0071bc !important;
            color: #fff;
          }
        }
        .connecting-line{
          top: 14px;
          bottom: 0;
          position: absolute;
          content: " ";
          width: 85%;
          left: 5%;
          height: 1px;
          background-color: #ccc;
          .active-line{
            top: 0;
            left: 0;
            height: 2px;
            width: 0;
            background: #016f94;
          }
        }
      }
      
      .stepwizard-step button[disabled] {
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
      }
            
      .stepwizard-step {
        display: table-cell;
        text-align: center;
        position: relative;
      }
    }
  }
}